<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>packagecloud.my_repo_releases</id>
            <password>
                ${env.PCLOUD}
            </password>
        </server>
        <server>
            <id>packagecloud.my_repo_snapshots</id>
            <password>
                ${env.PCLOUD}
            </password>
        </server>
        <server>
            <id>github</id>
            <username>d.art.shishkin@gmail.com</username>
            <password>${env.GIT_PWD}</password>
        </server>
    </servers>
</settings>
